/* All the media is only up to date witht he landing page */

/* 

font size for p tags
heading 1 should be 20 and heading 3 should be 15px for all small devices

p {
    font-size: 13px !important;
  }

  .L ul li {
    font-size: 13px !important;
  }

  .L h3 {
    font-size: 15px !important;
  }
  .disclaimer h1 {
    font-size: 20px !important;
  } */

@media only screen and (max-width: 2886px) {
  .hero {
    height: 500px;
  }
}

@media only screen and (max-width: 1280px) {
  .about1 {
    grid-template-columns: 550px 250px;
  }
  .aboutImg img {
    height: 210px;
    width: 210px;
  }

  .recentClients {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 250px);
  }
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
  .about1 {
    gap: 10px;
    grid-template-columns: 650px 300px;
  }
  .aboutImg {
    border-left: none;
  }

  .recentClients {
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(2, 220px);
  }
}

@media only screen and (max-width: 912px) {
  .about1 {
    grid-template-rows: 500px;
    grid-template-columns: 420px 230px;
  }

  .heroMG h2 {
    margin-top: 320px;
  }
}

@media only screen and (max-width: 540px) {
  .heroMG h2 {
    margin-top: 300px;
  }
  body {
    background-image: url(".//images/mobileBackground.png");
    background-position: center;
    background-size: contain;
  }
  .about1 {
    gap: 5px;
    grid-template-columns: 400px;
    grid-template-rows: 420px 250px;
  }
  .content {
    grid-row: 2/3;
  }

  .recentClients {
    grid-template-columns: repeat(2, 205px);
    grid-template-rows: repeat(3, 250px);
  }
  .aboutImg {
    grid-row: 2/2;
    grid-column: 1/2;
  }
  .content {
    grid-row: 1/1;
    grid-column: 1/1;
  }
  .hTBHeader {
    margin-bottom: 50px;
    border-bottom: solid 4px rgb(255, 255, 255);
  }
  .hTBInstructions p {
    text-align: left;
    margin-bottom: 40px;
  }
  .fCon h6 {
    font-size: 13px;
  }
  .fCon a {
    font-size: 15px;
  }

  .policies {
    grid-template-columns: repeat(1, 400px) !important;
    gap: 80px !important;
  }

  .calCon {
    grid-template-columns: 400px;
  }
}

@media only screen and (max-width: 430px) {
  .about1 {
    grid-template-rows: 485px 500px;
    gap: 40px;
  }

  .aboutImg img {
    height: 450px;
    width: 380px;
  }

  .policies {
    grid-template-rows: auto !important;
    gap: 0 !important;
  }
}

@media only screen and (max-width: 414px) {
  p {
    font-size: 13px !important;
  }

  .L ul li {
    font-size: 14px !important;
  }

  .L h3 {
    font-size: 15px;
  }
  .disclaimer h1 {
    font-size: 30px !important;
    text-align: left !important;
  }
  .heroMG h2 {
    /* margin-top: 45px; */
    margin-top: 125px;
    font-size: 35px;
  }
  .hero {
    /* height: 150px; */
    height: 250px;
  }
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .about1 {
    grid-template-columns: 360px;
    grid-template-rows: 480px 450px;
    /* padding-top: 30px; */
    text-align: center;

    margin-top: 150px;
    margin-bottom: 120px;
    gap: 40px;
    margin-top: 20px;
  }
  .footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .fCon a {
    padding: 5px;
    font-size: 13px;
  }
  #insta {
    font-size: 18px;
  }
  .content p {
    text-align: left;
  }
  .recentClients {
    grid-template-columns: 320px;
    grid-template-rows: repeat(6, 250px);
  }

  .aboutImg img {
    height: 400px;
    width: 295px;
  }
  /* .aboutImg {
    grid-row: 2/2;
    grid-column: 1/2;
  }
  .content {
    grid-row: 1/1;
    grid-column: 1/1;
  } */

  .fCon h6 {
    font-size: 10px;
  }
  .fCon a {
    font-size: 9px;
  }
  .policies {
    grid-template-columns: repeat(1, 320px) !important;
    gap: 10px !important;
    grid-template-rows: repeat(5, 380px) !important;
    /* gap: 140px !important; */
  }

  .alertCon {
    grid-template-columns: 320px;
  }

  .calCon {
    grid-template-columns: 360px;
  }
}
@media only screen and (max-width: 412px) {
  p {
    font-size: 13px !important;
  }

  .L ul li {
    font-size: 13px !important;
  }

  .L h3 {
    font-size: 15px !important;
  }
  .disclaimer h1 {
    font-size: 20px !important;
    text-align: left !important;
  }
  .policies {
    gap: 10px !important;
  }
}

@media only screen and (max-width: 393px) {
  p {
    font-size: 13px !important;
  }

  .L ul li {
    font-size: 13px !important;
  }

  .L h3 {
    font-size: 15px !important;
  }
  .disclaimer h1 {
    font-size: 30px !important;
    text-align: left !important;
  }
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .policies {
    gap: 10px !important;
  }
}

@media only screen and (max-width: 375px) {
  p {
    font-size: 13px !important;
  }

  .L ul li {
    font-size: 13px !important;
  }

  .L h3 {
    font-size: 15px !important;
  }
  .disclaimer h1 {
    font-size: 30px !important;
    text-align: left !important;
  }
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .about1 {
    grid-template-columns: 300px;

    grid-template-rows: 540px 250px;
  }
  .recentClients {
    grid-template-columns: 250px;
    grid-template-rows: repeat(6, 220);
  }
  #brand {
    font-size: 20px;
  }
  #brandImg {
    padding-left: 10px;
  }
  .policies {
    grid-template-columns: repeat(1, 290px) !important;
    grid-template-rows: repeat(5, 320px);
    /* gap: 190px !important; */
    /* margin-top: 150px !important; */
  }
  .alertCon {
    grid-template-columns: 300px;
  }
  /* .policies {
    gap: 10px !important;
  } */

  .calCon {
    grid-template-columns: 250px;
  }
}

@media only screen and (max-width: 352px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  #brand {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 319px) {
  #brandImg {
    padding-left: 0 !important;
  }
  .policies {
    gap: 10px !important;
  }
}

@media only screen and (max-width: 280px) {
  /* #brandImg {
    padding-left: 0 !important;
  } */
  .navbar-toggler {
    padding: 0 !important;
  }
  .clientsMain {
    margin-top: 50px;
  }

  .recentClients {
    grid-template-columns: 190px;
    grid-template-rows: repeat(6, 180px);
  }

  .about1 {
    grid-template-columns: 190px;
    grid-template-rows: 800px 200px;
    gap: 0;
  }
  .aboutImg img {
    height: 150px;
    width: 150px;
  }
  .policies {
    gap: 10px !important;
  }
}
