@media only screen and (max-width: 2886px) {
  .hero {
    height: 500px;
  }
}

@media only screen and (max-width: 414px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .about1 {
    grid-template-columns: 380px;
    padding-top: 30px;
    text-align: center;
    gap: 200px;
    margin-top: 150px;
    margin-bottom: 60px;
  }
  .footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .fCon a {
    padding: 5px;
    font-size: 18px;
  }
  #insta {
    font-size: 18px;
  }
  .content p {
    text-align: left;
  }
  .recentClients {
    grid-template-columns: 350px;
    grid-template-rows: repeat(5, 350px);
  }

  .aboutImg img {
    height: 250px;
    width: 250px;
  }

  .ClientCon:hover {
    transform: scale(0.2);
    z-index: 1;
  }
}

@media only screen and (max-width: 390px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 375px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 352px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  #brand {
    font-size: 20px !important;
  }
}
