* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* #A1677A this is the middle color she chose or somthing close to what she picked */
/* #78557B this is the last color she chose or something close to what she picked */
/* entire navbar */

.navbar {
  background-color: #d586a0 !important;
  padding-left: 25px;
  padding-right: 25px;
}

/* brand link */
#brand {
  color: white !important;
  font-size: 25px;
}

#brandImg {
  vertical-align: middle;
  height: 55px;
  padding-left: 16px;
}

/* begining of the navbar links */
#navbarNavDropdown {
  justify-content: end;
}
/* all links in nav bar */
#navbarNavDropdown a {
  color: white !important;
}

.dropdown-menu {
  background-color: #78557b3c !important;
}

/* dropdown menue background color is set to zero right fix later */
.dropdown-menu a:hover {
  background-color: rgba(255, 0, 0, 0.26);
}

.navbar-toggler {
  background-color: white;
  box-shadow: -0.1px 1px 1px 1px #d586a0;
}
