@import url("https://fonts.googleapis.com/css2?family=Changa&family=Slabo+27px&family=Zen+Dots&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Changa", sans-serif;
}

/* #A1677A this is the middle color she chose or somthing close to what she picked */
/* #78557B this is the last color she chose or something close to what she picked */
/* entire navbar */
body {
  background-image: linear-gradient(#b963809b, white);
}

.navbar {
  background-color: #d586a0 !important;
  padding-left: 25px;
  padding-right: 25px;
}

/* brand link */
#brand {
  color: white !important;
  font-size: 25px;
}

#brandImg {
  vertical-align: middle;
  height: 55px;
  padding-left: 16px;
}

/* begining of the navbar links */

#navbarNavDropdown {
  justify-content: end;
}
/* all links in nav bar */
#navbarNavDropdown a {
  color: white !important;
}

.dropdown-menu {
  background-color: #d586a0 !important;
}

/* dropdown menue background color is set to zero right fix later */
.dropdown-menu a:hover {
  background-color: rgba(253, 247, 247, 0.342);
}

.navbar-toggler {
  background-color: white;
  box-shadow: -0.1px 1px 1px 1px #d586a0;
  cursor: pointer;
}

.hero {
  background-image: url(".//images/heroImg.jpeg") !important;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.heroMG {
  display: flexbox;
  justify-content: center;
  align-content: center;

  padding-top: 40px;
}

.heroQ {
  margin-top: 150px;
}

.heroQ h2 {
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

.about1 {
  display: grid;
  grid-template-columns: 800px 400px;
  grid-template-rows: 400px;
  justify-content: center;
  margin-top: 40px;
  gap: 80px;
  align-items: center;
}
.aboutImg {
  text-align: center;
}

.aboutImg img {
  border-radius: 50%;
  height: 350px;
  width: 350px;
}

.content h2 {
  text-align: center;
  font-size: 45px;
  border-bottom: solid 4px black;
}

.content p {
  font-size: 18px;
  line-height: 1.5 !important;
  margin-top: 40px;
}

/* start of recent clients syling */
.clientsMain {
  margin-top: 125px;
  margin-bottom: 125px;
}
.headerClients h2 {
  text-align: center;
  margin-bottom: 80px;
  border-bottom: solid 4px black;
  font-size: 45px;
}
.recentClients {
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: 350px;
}
.clientCon {
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  transition: 1s;
}
.clientCon:hover {
  transform: scale(1.3);
  z-index: 2;
}

.C1 {
  background-image: url(".//images/recentClient1.jpeg");
}
.C2 {
  background-image: url(".//images/recentClient2.jpeg");
}

.C3 {
  background-image: url(".//images/recentClient3.jpeg");
}
.C4 {
  background-image: url(".//images/recentClient4.jpeg");
}

.C5 {
  background-image: url(".//images/recentClient5.jpeg");
}

footer {
  background-color: #d586a0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  height: 80px;
}
.fCon h6 {
  font-size: 18px;
  color: white;
  text-shadow: 2px 1px 1px black;
}

.fCon a {
  display: inline;
  padding: 10px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.fCon a:hover {
  color: #78557b;
}

#insta {
  font-size: 25px;
}
